{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">
	{% block navigtion %}
	<!-- <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"> -->
		<nav class="uk-navbar-container" role="navigation" uk-navbar>
			<div class="uk-navbar-left">
				<a class="uk-navbar-item uk-logo" href="{{site.url}}">{{site.title}}</a>
			</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li><a uk-toggle="target: #offcanvas-usage" uk-icon="icon: menu"></a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="uk-offcanvas-content">
		<!--
	    <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-usage">Open</button>
	    <a href="#offcanvas-usage" uk-toggle>Open</a>
	    -->
	    <div id="offcanvas-usage" class="offcanvas-nav-primary" uk-offcanvas="flip: true">
    	    <div class="uk-offcanvas-bar">
				<ul class="uk-nav uk-nav-default">
	        	{% for item in menu.get_items %}
		            <li class="{{item.classes | join(' ')}}">
		            	<a href="{{item.get_link}}">{{item.title}}</a>
		            </li>
	           {% endfor %}
		        </ul>
		       <form class="uk-search uk-search-default uk-margin" action="{{site.url}}/">
		       	<span uk-search-icon></span>
				    <input class="uk-search-input" name='s' type="search" placeholder="Search">
				</form>

			</div>
        </div>
    </div>
</div>
	{% endblock %}
	<main role="main">
	{% block content %}
		Sorry, no content
	{% endblock %}
	</main>

	{% block footer %}
	{% include 'footer.twig' %}

	{{ function('wp_footer') }}
	{% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js"></script>
	<script src="{{site.theme.link}}/dist/build.js"></script>

</body>
</html>
