{% block content %}
<article class="uk-article">
	<h3 class="uk-card-title">{{post.title}}</h3>
	<p class="uk-text-small uk-text-uppercase">{{post.post_type}}</p>
	{% if post.post_type == 'post' %}
	<p class="uk-article-meta">
    	{{ post.post_date|date('F j, Y') }} | {{ post.terms('category') | join(', ') }}
	</p>
	{% else %}
	{% endif %}
	{% if post.post_content %}
    <p>{{post.post_content|excerpt(40)}}...</p>
	{% endif %}
    <p><a href="{{post.link}}">Read</a></p>
</article>
{% endblock %}
