<footer role="contentinfo">
	<div class="uk-container">
		<div class="uk-child-width-1-4@s" uk-grid>
			<div>
				{{footer_area_1}}
			</div>
			<div>
				{{footer_area_2}}
			</div>
			<div>
				{{footer_area_3}}
			</div>
			<div>
				{{footer_area_4}}
			</div>
		</div>
		<div class="page-footer-info">
        
            <span class="site-title">{{site.title}}</span> | <span class="copyright">Copyright &copy; {{ "now"|date("Y") }}</span>
        </div>
    </div>
</footer>