{% block content %}
<article>
	<h3 class="uk-card-title"><a href="{{post.link}}">{{post.title}}</a></h3>
	<p class="uk-text-small uk-text-uppercase">{{post.post_type}}</p>
	{% if post.post_type == 'post' %}
	<p class="uk-article-meta">
    	{{ post.post_date|date('F j, Y') }} | {{ post.terms('category') | join(', ') }}
	</p>
	{% else %}
	{% endif %}
	{% if post.post_content %}
    <p>{{post.post_content|excerpt(40)}}...</p>
	{% endif %}
</article>
{% endblock %}
